{% extends 'base.html.twig' %}

{% block title %}Mon compte - Ma Belle Boutique
{% endblock %}

{% block content %}
	<h1>Mon compte</h1>
	Bienvenue
	{{ app.user.lastname}}
	dans votre compte personnel.
	<br>
	{% if is_granted('ROLE_ADMIN') %}
		<small>
			<a href="{{ path('admin') }}">Vous êtes administrateur, accéder au Backoffice</a>
		</small>
		<br>
	{% endif %}

	<hr>

	<div class="row">
		<div class="col-md-4">
			<div class="account-item text-center">

				<a href="{{ path('account_password') }}">
					<img src="{{ asset('assets/img/password.png') }}" alt="mot de passe">
					<br>Modifier mot de passe
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="account-item text-center">

				<a href="{{ path('account_address') }}">
					<img src="{{ asset('assets/img/adress-book.png') }}" alt="mes adresses">
					<br>Gérer mes adresses
				</a>
			</div>
		</div>
		<div class="col-md-4">
			<div class="account-item text-center">

				<a href="{{ path('account_order') }}">
					<img src="{{ asset('assets/img/package.png') }}" alt="Mes commandes">
					<br>Mes commandes
				</a>
			</div>
		</div>
	</div>


{% endblock %}
